.container {
    max-width: 100% !important;
    min-width: 100% !important;
}

.containerLogo {
    width: 100%;
    min-height: 500px;
    max-height: 800px;
    display: flex;
    overflow: hidden;
}

.containerLogo  img {
    flex-shrink: 0;
    min-width: 100%;
    height: 100%;
}


@media (max-width: 768px) {
    .container {
        max-height: 100px !important;
        min-height: 185px !important;
    }
}