@font-face {
    font-family: 'Bettina-Signature';
    src: url('font/Bettina-Signature-Regular.ttf');
    src: url('font/Bettina-Signature-Regular.otf');
    font-style: normal;
    font-weight: 400;
}

.titleApp {
    position: absolute;
    width: auto;
    z-index: 15;
    margin-right: auto;
    margin-left: auto;
}
.titleApp > h3 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 10rem;
    font-family:'Bettina-Signature', sans-serif;
}

@media (max-width: 768px) {
    .titleApp {
        border: 2px solid red;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateY(70%);
    }
    .titleApp > h3 {
        font-size: 3rem;
    }
}